.tree-catalogue {
  width: 100%;
  padding: 0; /* 根据需要设置padding */
  margin: 0; /* 确保没有外边距 */
  box-sizing: border-box; /* 确保border和padding不会增加宽度 */
}

.tree-list {
  list-style-type: none; /* 移除列表项的默认标记 */
  padding: 0; /* 确保没有内边距 */
  margin: 0; /* 确保没有外边距 */
}

.tree-node {
  padding-left: 400px;
  margin-left: -400px;

  &.active{
    background: rgba(20,86,240 ,0.15);
  }
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tree-item {
  position: relative;
  width: 250px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  border-radius: 4px;
  cursor: pointer;
  /* 其他样式 */
  transition: background-color 0.3s; /* 平滑过渡背景颜色变化 */
}

.tree-item.active{
  background: rgba(20,86,240 ,0.15);
}

.tree-node-expand-arrow {
  height: 20px;
  width: 20px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
  margin-right: 5px;
  line-height: 24px;
  border: 0;
  outline: none;
  text-align: center;
  color: #8f959e;

  &.has-icon:hover {
    background-color: rgba(31, 35, 41, 0.1);
    border-radius: 4px;
  }

  svg {
    font-size: 10px;
    padding: 0px 5px;
    width: 20px;
  }

}

.arrow-expand {
  svg {
    transform: rotate(90deg);
  }
}

.arrow-collapse {
  svg {
    transform: rotate(0deg);
  }
}

/**
 * 操作组
 */
.actions-groups {

  .action-menu {
    min-width: 100px;
    background: white;
    z-index: 188;
    left: 30px;
    font-size: 14px;
    top: 20px;
    margin: 0px;
    //transform: translate(229px, 286px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}

.node-dropdown-menu-group {
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(31, 35, 41, 0.1);
    border-radius: 4px;
  }
}

/*
 * 输入框
*/
.rename-input {
  position: absolute;
  top: 0;
  overflow: hidden;
  /* 确保输入框大小和位置覆盖原标签 */
  height: 100%;
  padding: 2px;
  border: 2px solid #747bff;
  z-index: 2;
}

